.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/.firebase
.firebaserc
.npmrc
.prettierignore
.prettierrc
.eslintignore
.eslintrc.cjs
firebase.json 
utils
starterfiles
scripts
packages
components
CHANGELOG.md
index.d.ts
index.ts
package-lock.json
package.json
skip

